.app {
    display: flex;
    gap: 50px;
}

.form {
    position: relative;
    min-width: 300px;
    max-width: 20%;
    padding: 20px;
    background-image: var(--background-form);
    background-size: cover;
    border-radius: 30px;

    &__title {
        position: relative;
        margin-bottom: 1rem;
        text-align: right;
        width: fit-content;
        margin-left: auto;
        font-weight: 300;
        font-size: 26px;
        text-transform: uppercase;
    }
    &__title:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -6px;
        height: 2px;
        width: 100%;
        background: var(--text-color);
    }
    &__label,
    &__button-upload {
        display: block;
        padding-left: 15px;
        font-family: inherit;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        font-size: 14px;
    }
    &__input,
    &__button {
        outline: none;
        display: block;
        width: 100%;
        padding: 0 15px;
        margin: 5px 0 15px;
        border-width: 0;
        line-height: 40px;
        border-radius: 20px;
        color: var(--text-color);
        background: rgba(255, 255, 255, 0.6);
        transition: all 0.3s ease-in-out;
    }

    &__button {
        margin-top: 30px;
        background-color: var(--text-color);
        color: var(--background-color);
        font-size: 14px;
        opacity: 0.8;
    }

    &__button:hover {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    &__button-upload {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    &__button-upload:hover {
        color: var(--text-color);
    }

    &__button-upload:hover .add-icon {
        color: var(--text-color);
    }

    &__upload-item {
        color: var(--text-color);
    }
}

.todo-list {
    width: 100%;
    padding-left: 0;
}

.todo-item {
    position: relative;
    max-width: 1100px;
    padding: 15px 15px;
    display: grid;
    align-items: start;
    grid-template-columns: 30px 70% auto;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-areas:
        "checkbox task buttons"
        "descriptionIcon description ."
        "dateIcon date .";
    margin-bottom: 25px;
    line-height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    list-style-type: none;
}

.item {
    &__checkbox {
        padding: 0;
        grid-area: checkbox;
    }

    &__task {
        margin: 0;
        padding-top: 2px;
        grid-area: task;
        line-height: 20px;
    }

    &__description {
        margin: 0;
        padding-top: 2px;
        grid-area: description;
        font-size: 13px;
        line-height: 1;
    }

    &__info-icon {
        grid-area: descriptionIcon;
        justify-self: center;
        font-size: 20px;
    }

    &__buttons {
        grid-area: buttons;
        justify-self: end;
    }
}

.date {
    &__icon {
        grid-area: dateIcon;
        justify-self: center;
        align-self: center;
        color: var(--text-color);
        font-size: 20px;
    }

    &__description {
        padding-top: 2px;
        margin: 0;
        grid-area: date;
        line-height: 1;
    }
}

.item__task-input,
.item__description-input,
.date__description-item {
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    // padding: 10px;
    border-radius: 30px;
    line-height: 1;
    color: var(--text-color);
}

.add-icon {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.item__checkbox {
    color: var(--text-color);
    font-size: 15px;
}

.item__button {
    font-size: 20px;
    color: var(--text-color);
}

@media (max-width: 1024px) {
    .app {
        flex-direction: column;
    }
    .form {
        max-width: 100%;
        min-width: 200px;
    }

    .todo-item {
        grid-template-columns: 30px auto;
        column-gap: 5px;
        row-gap: 10px;
        grid-template-areas:
            "checkbox task "
            "descriptionIcon description "
            "dateIcon date "
            " . buttons";
    }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
    .form {
        display: grid;
        grid-template-areas:
            ". title"
            "task description"
            "date upload"
            "button button";
        column-gap: 15px;

        &__title {
            grid-area: title;
        }

        &__label[for="task"],
        &__input[name="task"] {
            grid-area: task;
        }
        &__label[for="description"],
        &__input[name="description"] {
            grid-area: description;
        }
        &__label[for="date"] {
            grid-area: date;
        }

        &__button-upload,
        input[type="file"] {
            grid-area: upload;
        }

        &__button {
            grid-area: button;
        }
    }
}
