.header,
.footer {
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100vw;
}

.header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    bottom: 0;
    text-align: end;
}

.burger {
    display: none;
    position: relative;
    width: 25px;
    height: 20px;
    &__line,
    &::before,
    &::after {
        position: absolute;
        height: 3px;
        left: 0;
        width: 100%;
        background-color: var(--text-color);
        transition: all 0.3s ease-in-out;
    }
    &::before,
    &::after {
        content: "";
    }

    &__line {
        top: 47%;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.nav {
    max-width: 600px;
}

.nav__link {
    font-family: inherit;
    font-size: 20px;
    // color: rgb(230, 204, 216);
    color: inherit;
    text-transform: capitalize;
}

.nav__link:not(.nav__link-active):hover {
    color: #aa9796;
}

.nav__link:not(:last-child) {
    margin-right: 45px;
}

.nav__link-active:hover {
    // font-weight: 600;
}
.nav__link-active,
.nav__link-active:hover {
    color: inherit;
    font-weight: 600;
    cursor: default;
}

.nav__item {
    display: flex;
    align-items: center;
    color: inherit;
}

.theme {
    position: relative;
    margin-left: auto;
    border-radius: 50%;
    display: block;
    height: 24px;
    overflow: hidden;
    width: 24px;
    transition: 0.5s all ease;
    &:hover {
        cursor: pointer;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
    }
    &.pink:before {
        animation-duration: 0.5s;
        animation-name: sun;
        background-color: var(--text-color);
        border-radius: 50%;
        box-shadow: 10px 0 0 -3.5px var(--text-color), -10px 0 0 -3.5px var(--text-color),
            0 -10px 0 -3.5px var(--text-color), 0 10px 0 -3.5px var(--text-color), 7px -7px 0 -3.5px var(--text-color),
            7px 7px 0 -3.5px var(--text-color), -7px 7px 0 -3.5px var(--text-color),
            -7px -7px 0 -3.5px var(--text-color);
        height: 10px;
        left: 7px;
        top: 7px;
        width: 10px;
        // &:hover {
        //     background-color: var(--background-color);
        //     box-shadow: 10px 0 0 -3.5px var(--background-color), -10px 0 0 -3.5px var(--background-color),
        //         0 -10px 0 -3.5px var(--background-color), 0 10px 0 -3.5px var(--background-color),
        //         7px -7px 0 -3.5px var(--background-color), 7px 7px 0 -3.5px var(--background-color),
        //         -7px 7px 0 -3.5px var(--background-color), -7px -7px 0 -3.5px var(--background-color);
        // }
    }
    &.blue {
        &:before {
            animation-duration: 0.5s;
            animation-name: moon;
            background-color: var(--text-color);
            border-radius: 50%;
            height: 20px;
            left: 2px;
            top: 2px;
            width: 20px;
            z-index: 1;
            //     &:hover {
            //         background-color: var(--background-color);
            //     }
        }
        &:after {
            animation-duration: 0.5s;
            animation-name: moon-shadow;
            background: var(--background-color);
            border-radius: 50%;
            content: "";
            display: block;
            height: 18px;
            position: absolute;
            right: -2px;
            top: -2px;
            width: 18px;
            z-index: 2;
        }
    }
}

@keyframes sun {
    from {
        background-color: var(--background-color);
        box-shadow: 0 0 0 -5px var(--background-color), 0 0 0 -5px var(--background-color),
            0 0 0 -5px var(--background-color), 0 0 0 -5px var(--background-color), 0 0 0 -5px var(--background-color),
            0 0 0 -5px var(--background-color), 0 0 0 -5px var(--background-color), 0 0 0 -5px var(--background-color);
    }
    to {
        background-color: var(--text-color);
        box-shadow: 10px 0 0 -3.5px var(--text-color), -10px 0 0 -3.5px var(--text-color),
            0 -10px 0 -3.5px var(--text-color), 0 10px 0 -3.5px var(--text-color), 7px -7px 0 -3.5px var(--text-color),
            7px 7px 0 -3.5px var(--text-color), -7px 7px 0 -3.5px var(--text-color),
            -7px -7px 0 -3.5px var(--text-color);
    }
}

@keyframes moon {
    from {
        height: 0;
        left: 12px;
        top: 12px;
        width: 0;
    }
    to {
        height: 20px;
        left: 2px;
        top: 2px;
        width: 20px;
    }
}

@keyframes moon-shadow {
    from {
        background-color: var(--background-color);
        height: 0;
        right: 7px;
        top: 7px;
        width: 0;
    }
    to {
        background-color: var(--background-color);
        height: 18px;
        right: -2px;
        top: -2px;
        width: 18px;
    }
}

.avatar {
    background-color: var(--text-color);
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .burger-active .burger__line {
        width: 0;
    }

    .burger-active::before {
        top: 9px;
        transform: rotate(45deg);
    }
    .burger-active::after {
        bottom: 8px;
        transform: rotate(-45deg);
    }

    .nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 12px;
        top: 50px;
        left: -100%;
        transition: all 0.3s ease-in-out;
    }

    .nav.active {
        left: 0;
    }

    .nav__link {
        margin-bottom: 15px;
    }
}
