// $base-color-pink: #c6538c;
$base-color-pink: #ce508b;
$color-tapestry: #9b5475;
$color-disco: #861a4d;
$color-carissma: #e77daf;
$color-kobi: #e799be;
$color-melanie: #e6ccd8;
$color-shark: #212529;
