// $base-color-pink: #c6538c;
$base-color-pink: #ce508b;
$color-tapestry: #9b5475;
$color-disco: #861a4d;
$color-carissma: #e77daf;
$color-kobi: #e799be;
$color-melanie: #e6ccd8;
$color-shark: #212529;

:root[data-theme="pink"] {
    // --background-color: #6667ab;
    // --background-color: #88b04b;
    --background-color: #e2c1c0;
    // --background-color: #861a4d;
    --text-color: #93413e;
    // --text-color: #212529;
}

:root[data-theme="blue"] {
    // --background-color: #97b299;
    --background-color: #164467;
    --text-color: #d0a670;
    // --text-color: #e6ccd8;
}
