// $base-color-pink: #c6538c;
$base-color-pink: #ce508b;
$color-tapestry: #9b5475;
$color-disco: #861a4d;
$color-carissma: #e77daf;
$color-kobi: #e799be;
$color-melanie: #e6ccd8;
$color-shark: #212529;

:root[data-theme="pink"] {
    --background-color: #e2c1c0;
    --background-form: url("../assets/pions.jpg");
    --text-color: #93413e;
}

:root[data-theme="blue"] {
    --background-color: #164467;
    --text-color: #d0a670;
    --background-form: url("../assets/blue.jpg");
}
